html,
body {
  padding: 0;
  margin: 0;
  font-family:Metropolis, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 font-weight: 300;
 font-size: 16px;
 font-size: 18px ;
 line-height:32px ;
 color: #0a0c10;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  /* transition: background 0.25s ease-in-out;
     */
}
body[data-theme="light"]{

 --color-text-primary: #27201a;
 --color-text-secondary: #1e90ff;
  --color-text-tertiary: #374151;
 --color-text-form:#27201a;
 --color-bg-primary: #fff;
 --color--bg-tertiary:#EFF6FF;
 --color-bg-toggle: #1e90ff;
 --color-bg-card:#BFFFF0;
 --color-card-logo-color:#27281a;
 --color-social-logo:#111;
 --logo:url('/logo/svg/color.svg')
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
   --color-text-form:#fff;
     --color-text-tertiary:#EFF6FF;
  --color-bg-primary: #252525;
   --color--bg-tertiary:#252524;
  --color-bg-toggle: #a9a9a9;
   --color-bg-card:#e3e3e3;
   --color-card-logo-color:#27281a;
   --color-social--logo:#fff;
    --logo:url('/logo/png/white.png')
 


  /* color:#ff6b00 */
}
/* 
h2 {
  color: var(--color-text-secondary);
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--logo);
  background-size: 50px;
  background-repeat: no-repeat;
  height: 80px;
  padding-left: 100px;
}

.rehype-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;

  background-color: black;
  color: white;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}