@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:Metropolis, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 font-weight: 300;
 font-size: 16px;
 font-size: 18px ;
 line-height:32px ;
 color: #0a0c10;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;

}
body[data-theme="light"]{

 --color-text-primary: ;
 --color-text-secondary: #27201a#1e90ff;
  --color-text-tertiary: #374151;
 --color-text-form:#27201a;
 --color-bg-primary: #fff;
 --color--bg-tertiary:#EFF6FF;
 --color-bg-toggle: #1e90ff;
 --color-bg-card:#BFFFF0;
 --color-card-logo-color:#27281a;
 --color-social-logo:#111;
 --logo:url('/logo/svg/color.svg')
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
   --color-text-form:#fff;
     --color-text-tertiary:#EFF6FF;
  --color-bg-primary: #252525;
   --color--bg-tertiary:#252524;
  --color-bg-toggle: #a9a9a9;
   --color-bg-card:#e3e3e3;
   --color-card-logo-color:#27281a;
   --color-social--logo:#fff;
    --logo:url('/logo/png/white.png')
 

}

  /* color:#ff6b00 */


h2 {
  color: var(--color-text-secondary);
}  a {
  color: inherit;
  text-decoration: none;
}



.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--logo);
  background-size: 50px;
  background-repeat: no-repeat;
  padding-left: 100px;
} 